# --------------------------------- modules --------------------------------- #
node_modules
coverage
# --------------------------------- builds --------------------------------- #
dist
# --------------------------------- static and env -------------------------- #
.env
# ----------------------------- text editor files ---------------------------- #
.vscode
# ------------------------------ docker volumes ------------------------------ #
redis-data
